body {
    padding: 50px;
    text-align: center; 
}

h2 { 
    text-align: center;
}

.image {
    display: inline-block;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    display: flex;
    text-align: center;
}

